<p>
  <strong>姓名</strong>
  <%= @message.name %>
</p>

<p>
  <strong>单位</strong>
  <%= @message.org %>
</p>

<p>
  <strong>联系方式</strong>
  <%= @message.contract %>
</p>

<p>
  <strong>问题描述</strong>
  <%= @message.text %>
</p>

<p>
  <h1>提交成功，请保持电话畅通。</h1>
</p>
